Paso 3 de la Práctica

In [0]:
from pyspark.sql import SparkSession

# Crear la sesión Spark
spark = SparkSession.builder.appName("MallCustomersAnalysis").getOrCreate()

# Leer el archivo CSV usando la ruta copiada
file_path = "dbfs:/FileStore/shared_uploads/ismaelarista.28@gmail.com/Mall_Customers.csv"
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(file_path)

# Crear una vista temporal
df.createOrReplaceTempView("customers_view")

# Ver los primeros registros de la vista temporal
spark.sql("SELECT * FROM customers_view LIMIT 5").show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
+----------+------+---+------------------+----------------------+

In [0]:
# Consulta 1: Ver los primeros 10 registros
spark.sql("SELECT * FROM customers_view LIMIT 10").show()

# Consulta 2: Contar la cantidad de clientes según su género
spark.sql("""
    SELECT Genre, COUNT(*) AS CustomerCount
    FROM customers_view
    GROUP BY Genre
""").show()

# Consulta 3: Calcular la edad promedio de los clientes
spark.sql("""
    SELECT AVG(Age) AS AverageAge
    FROM customers_view
""").show()

# Consulta 4: Filtrar clientes con un ingreso anual mayor a 70,000
spark.sql("""
    SELECT *
    FROM customers_view
    WHERE `Annual Income (k$)` > 70
""").show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
+----------+------+---+------------------+----------------------+

+------+-------------+
| Genre|CustomerCount|
+------+-------------+
|Female|          112|
|  Male|           88|
+------+-------------+

+----------+
|AverageAge|
+----------+
|     38.85|
+----------+

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|       127|  Male| 43|                71|                    35|
|       128|  Male| 40|                71|                    95|
|       129|  Male| 59|                71|                    11|
|       130|  Male| 38|                71|                    75|
|       131|  Male| 47|                71|                     9|
|       132|  Male| 39|                71|                    75|
|       133|Female| 25|                72|                    34|
|       134|Female| 31|                72|                    71|
|       135|  Male| 20|                73|                     5|
|       136|Female| 29|                73|                    88|
|       137|Female| 44|                73|                     7|
|       138|  Male| 32|                73|                    73|
|       139|  Male| 19|                74|                    10|
|       140|Female| 35|                74|                    72|
|       141|Female| 57|                75|                     5|
|       142|  Male| 32|                75|                    93|
|       143|Female| 28|                76|                    40|
|       144|Female| 32|                76|                    87|
|       145|  Male| 25|                77|                    12|
|       146|  Male| 28|                77|                    97|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

Paso 4 de la Práctica

In [0]:
%sql
-- Consulta 1: Ver los primeros 10 registros
SELECT * FROM customers_view LIMIT 10;

-- Consulta 2: Contar la cantidad de clientes según su género
SELECT Genre, COUNT(*) AS CustomerCount
FROM customers_view
GROUP BY Genre;

-- Consulta 3: Calcular la edad promedio de los clientes
SELECT AVG(Age) AS AverageAge
FROM customers_view;

-- Consulta 4: Filtrar clientes con un ingreso anual mayor a 70,000
SELECT *
FROM customers_view
WHERE `Annual Income (k$)` > 70;

--CREATE OR REPLACE TEMPORARY VIEW customers_temp AS
--SELECT * FROM customers_view;

--SELECT * FROM customers_temp LIMIT 5;

CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)
127,Male,43,71,35
128,Male,40,71,95
129,Male,59,71,11
130,Male,38,71,75
131,Male,47,71,9
132,Male,39,71,75
133,Female,25,72,34
134,Female,31,72,71
135,Male,20,73,5
136,Female,29,73,88
137,Female,44,73,7
138,Male,32,73,73
139,Male,19,74,10
140,Female,35,74,72
141,Female,57,75,5
142,Male,32,75,93
143,Female,28,76,40
144,Female,32,76,87
145,Male,25,77,12
146,Male,28,77,97
147,Male,48,77,36
148,Female,32,77,74
149,Female,34,78,22
150,Male,34,78,90
151,Male,43,78,17
152,Male,39,78,88
153,Female,44,78,20
154,Female,38,78,76
155,Female,47,78,16
156,Female,27,78,89
157,Male,37,78,1
158,Female,30,78,78
159,Male,34,78,1
160,Female,30,78,73
161,Female,56,79,35
162,Female,29,79,83
163,Male,19,81,5
164,Female,31,81,93
165,Male,50,85,26
166,Female,36,85,75
167,Male,42,86,20
168,Female,33,86,95
169,Female,36,87,27
170,Male,32,87,63
171,Male,40,87,13
172,Male,28,87,75
173,Male,36,87,10
174,Male,36,87,92
175,Female,52,88,13
176,Female,30,88,86
177,Male,58,88,15
178,Male,27,88,69
179,Male,59,93,14
180,Male,35,93,90
181,Female,37,97,32
182,Female,32,97,86
183,Male,46,98,15
184,Female,29,98,88
185,Female,41,99,39
186,Male,30,99,97
187,Female,54,101,24
188,Male,28,101,68
189,Female,41,103,17
190,Female,36,103,85
191,Female,34,103,23
192,Female,32,103,69
193,Male,33,113,8
194,Female,38,113,91
195,Female,47,120,16
196,Female,35,120,79
197,Female,45,126,28
198,Male,32,126,74
199,Male,32,137,18
200,Male,30,137,83

Paso 5 de la Práctica

In [0]:
# Ejecutar consulta y guardar los resultados en DataFrame
results_df = spark.sql("""
    SELECT Genre, AVG(Age) AS AverageAge, AVG(`Annual Income (k$)`) AS AverageIncome
    FROM customers_view
    GROUP BY Genre
""")

# Ruta de almacenamiento para el archivo Parquet
parquet_output_path = "/FileStore/tables/customers_results.parquet"

# Guardar el DataFrame como un archivo Parquet
results_df.write.mode("overwrite").parquet(parquet_output_path)

# Listar los archivos guardados en la ruta
dbutils.fs.ls("/FileStore/tables/")
dbutils.fs.ls("/FileStore/tables/customers_results.parquet/")

# Leer el archivo Parquet guardado
loaded_df = spark.read.parquet("/FileStore/tables/customers_results.parquet")

# Mostrar los datos
loaded_df.show()

+------+------------------+-----------------+
| Genre|        AverageAge|    AverageIncome|
+------+------------------+-----------------+
|Female|38.098214285714285|            59.25|
|  Male| 39.80681818181818|62.22727272727273|
+------+------------------+-----------------+